* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
    width: 390px;


}

.bottomCompP {
    text-align: right;
    
}

.bottomCompImg {
    display: block;
    margin:auto ;
    object-fit: contain;
    width:64px ;
    
}

.bottomCompDiv {
    width: 100px;
    margin: 10px;
    border: solid 2px;
    border-radius:15px;
}

.bottomCompNombres {
    width: 104%;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    right: 2px;
    top: 2px;
    text-align: center;
       background-color: black;
       color: white;
}





